* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px 0;
  background-color: purple;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.post-list-container {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 20px;
}
.post-list-container .post {
  border: 1px solid black;
  width: 300px;
  background-color: white;
  display: flex;
  min-height: 300px;
  padding: 15px;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
}

.post-list-container .post:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}

.post-list-container .error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
}
