* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.fa {
  cursor: pointer;
  color: yellow;
}

.rating {
  font-size: 24px;
  font-weight: bold;
}
